# Conexión a Base de Datos (Supabase)
# Asegúrate de usar la URL con el Session Pooling (Termina en ?pgbouncer=true si usas pooler)
DATABASE_URL="postgresql://postgres.[PROYECTO]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres"

# Stripe
STRIPE_SECRET_KEY="sk_test_tustripe"

# Mercado Pago
MP_ACCESS_TOKEN="TEST-12345"

# Server
PORT=3000
